.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.finalVoyage {
  margin: 0 auto;
  width: 60%;
}

.puzzle3__detailsAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.puzzle3__details {
  padding: 10px;
  width: 65%;
  height: 350px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.puzzle3__heading {
  margin-top: 40px;
  color: #b75053;
  font-size: 40px;
  font-weight: 700;
}

.puzzle3__whiteText {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.puzzle3__figure {
  width: 30%;
}

.puzzle3__figure__statue {
  width: 100%;
}

.puzzle3__video {
  display: flex;
  justify-content: center;
}

iframe {
  border: none;
}

.finalVoyage ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 25px;
}

.finalVoyage ul li {
  max-width: 15%;
}

.puzzle3__warps__figure {
  width: 80%;
  margin: 0 auto;
}

.puzzle3__warps__img {
  width: 100%;
}

.puzzle3__launch__img {
  width: 35%;
}

.puzzle3__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.puzzle3__countdown {
  margin-left: auto;
}

.puzzle3__buttons__reset {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #b75053;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  height: 35px;
  margin-top: 5px;
}

.puzzle3__buttons__reset:hover {
  background-color: #8a2c2f;
  color: #ffffff;
  text-decoration: none;
}

.puzzle3__buttons__proceed {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #388861;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  padding: 10px;
  text-align: center;
  height: 35px;
  margin-top: 5px;
}

.puzzle3__buttons__proceed:hover {
  background-color: #1f5c3e;
  color: #ffffff;
  text-decoration: none;
}
