.background {
  position: fixed;
  top: 0;
  left: 0;
}

.puzzle3__Mask {
  margin-top: 150px;
}

.puzzle3__wakeUp {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
  background-color: #b75053 !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  padding: 10px;
}

.finalVoyage {
  width: 1700px !important;
  margin: 0 auto;
}

.puzzle3__details {
  padding: 10px;
  width: 100%;
  height: 350px;
}

.puzzle3__heading {
  margin-top: 40px;
  color: #b75053;
  font-size: 40px;
  font-weight: 700;
}

.puzzle3__whiteText {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600 !important;
}

.puzzle3__figure {
  text-align: right;
  margin: revert;
  margin-left: -20px;
  width: 250px;
}

.videoPlayer {
  margin-top: -50px;
}

.puzzle3__warps {
  margin-top: 10px;
  width: 70%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.puzzle3__warps__col {
  padding: 0 !important;
}

.puzzle3__warps__launch {
  width: 35%;
  margin-left: -60px;
}

.puzzle3__buttons {
  width: 70%;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 0 !important;
}

.puzzle3__countdown {
  margin-left: 10px;
}

.puzzle3__buttons__reset {
  width: 100%;
  border: none !important;
  background-color: #b75053 !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  padding: 10px;
  margin-left: 30px;
}

.puzzle3__buttons__proceed {
  width: 100%;
  border: none !important;
  background-color: #388861 !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  padding: 10px;
}

@media only screen and (max-width: 1900px) {
  .finalVoyage {
    width: 1550px !important;
  }
}

@media only screen and (max-width: 1700px) {
  .finalVoyage {
    width: 1400px !important;
  }
  .puzzle3__heading {
    font-size: 30px;
  }

  .puzzle3__figure {
    width: 200px;
  }

  .puzzle3__whiteText {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1480px) {
  .finalVoyage {
    width: 1200px !important;
  }

  .puzzle3__heading {
    font-size: 25px;
  }

  .puzzle3__figure {
    width: 180px;
  }

  .puzzle3__whiteText {
    font-size: 13px;
  }
}

@media only screen and (max-width: 1350px) {
  .finalVoyage {
    width: 800px !important;
  }

  .puzzle3__heading {
    font-size: 20px;
  }

  .puzzle3__figure {
    width: 150px;
  }

  .puzzle3__whiteText {
    font-size: 10px;
  }
}
