.puzzle1__planets__figure {
  width: 80%;
  margin: 0 auto;
}

.puzzle1__planets__img {
  width: 100%;
}

.puzzle1__planets__input {
  border-radius: 6px;
  border: none;
  text-align: center;
  width: 100%;
  height: 35px;
}

.puzzle1__planets__input:focus {
  outline: none;
}
