.background {
   position: fixed;
   top: 0;
   left: 0;
}

.p-22-minutes {
    margin: 0 auto;
    margin-top: 20px;
}
 
/* 
.puzzle1 {
    margin: 0 auto;
    position: relative;
}

.puzzle1__image {
    position: absolute;
    width: 60%;
    transform: translate(35%, 10%);
} */


.row__player {
    margin:0 auto;
}

.puzzle1Heading {
    margin-top: 40px;
    color: #FF7D25;
    font-size: 30px;
    font-weight: 700;
}

.whiteText {
    margin-top: 80px;
    text-align: left;
    color: #FFFFFF;
    font-size: 18px;
}

.react-player {
    margin-top: -20px;
}

.greyPlanets {
    /* width: 70%; */
    text-align: center;
}

.greyPlanets__img {
    width: 120px;
}

.greyPlanets__input {
    width: 100px;
    border-radius: 6px;
    border: none;
}

@media only screen and (max-width: 1500px) {
    .puzzle1__planet {
        width: 75%;
    }

    .puzzle1Heading {
        position: absolute;
        color: #FF7D25;
        font-size: 30px;
        font-weight: 700;
    }

    .whiteText {
        font-size: 13px;
    }

    .react-player{
        width: 200px;
    }

    .greyPlanets__planet{
        width: 90px;
    }
    
    .greyPlanets__input {
        width: 70px;
    }
}