.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.p-22-minutes {
  margin: 0 auto;
  width: 60%;
}

.puzzle1__detailsAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.puzzle1__details {
  padding: 10px;
  width: 65%;
  height: 350px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.puzzle1__details h2 {
  margin-top: 40px;
  color: #ff7d25;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.puzzle1__details p {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.puzzle1__figure {
  width: 30%;
}

.puzzle1__figure img {
  width: 100%;
}

.puzzle1__video {
  display: flex;
  justify-content: center;
  margin-top: -60px;
}

iframe {
  border: none;
}

.p-22-minutes ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 25px;
}

.p-22-minutes ul li {
  max-width: 15%;
}

.puzzle1__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.puzzle1__buttons--reset {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #b75053;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  height: 35px;
  margin-top: 5px;
}

.puzzle1__buttons--reset:hover {
  background-color: #8a2c2f;
  color: #ffffff;
  text-decoration: none;
}

.puzzle1__buttons--proceed {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #388861;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  height: 35px;
  margin-top: 5px;
  text-decoration: none;
  line-height: 33px;
}

.puzzle1__buttons--proceed:hover {
  background-color: #1f5c3e;
  color: #ffffff;
  text-decoration: none;
}

@media only screen and (max-width: 1850px) {
  .puzzle1__figure {
    margin-top: 60px;
  }
}
