.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.puzzle3__figure__mask {
  width: 30%;
  margin: 150px auto auto auto;
}

.puzzle3__figure__mask__img {
  width: 100%;
}

.puzzle3__opener__button {
  display: flex;
  justify-content: center;
}

.puzzle3__wakeUp {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
  border: none;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  width: 420px;
  text-decoration: none;
  background-color: #b75053;
}

.puzzle3__wakeUp:hover {
  background-color: #6d1919;
  color: #ffffff;
  text-decoration: none;
}
