.background {
  position: fixed;
  top: 0;
  left: 0;
}

.p-wanderingmoon {
  width: 1300px !important;
  margin: 0 auto;
  justify-items: center;
}

.puzzle2Message {
  height: 280px;
  width: 250px !important;
}

.puzzle2Heading {
  margin-top: 40px;
  color: #5341ae;
  font-size: 30px;
  font-weight: 700;
}

.puzzle2WhiteText {
  text-align: left;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600 !important;
}

.puzzle2__figure {
  text-align: right;
  margin: revert;
  margin-left: -20px;
}

/* .planets {
  width: 90%;
}

.planets__planet {
  padding: 0 !important;
  margin: 15px !important;
  max-width: calc(16.666667% - 30px) !important ;
}

.planets__input {
  width: 100%;
  border-radius: 6px;
  border: none;
  text-align: center;
}

.planets__input:focus {
  outline: none;
}

.buttons {
  width: 90%;
}

.buttons__reset {
  width: 100%;
  border: none !important;
  background-color: #b75053 !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  padding: 10px;
} */

.buttons__proceed {
  width: 100%;
  border: none !important;
  background-color: #388861 !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  padding: 10px;
}

@media only screen and (max-width: 1900px) {
  .p-wanderingmoon {
    width: 1350px !important;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1600px) {
  .p-wanderingmoon {
    width: 1200px !important;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1480px) {
  .p-wanderingmoon {
    width: 900px !important;
  }

  .puzzle1Heading {
    color: #ff7d25;
    font-size: 30px;
    font-weight: 700;
  }

  .puzzle1__figure {
    width: 250px;
  }

  .puzzle1WhiteText {
    font-size: 13px;
  }
}
