.background {
  position: fixed;
  top: 0;
  left: 0;
}

.puzzle2__Mask {
  margin-top: 150px;
}

.puzzle2__wakeUp {
  width: 100%;
  margin-right: auto !important;
  margin-left: auto !important;
  background-color: #5341ae !important;
  border: none !important;
  font-size: 20px !important;
  font-weight: 800 !important;
  padding: 50px;
}

.p-wanderingmoon {
  width: 1800px !important;
  margin: 0 auto;
}

.puzzle2__details {
  padding: 10px;
  width: 100%;
  height: 350px;
  margin-bottom: -50px;
}

.puzzle2__heading {
  margin-top: 40px;
  color: #5341ae;
  font-size: 40px;
  font-weight: 700;
}

.puzzle2__whiteText {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600 !important;
}

.puzzle2__figure {
  margin-left: -20px;
  width: 350px;
  margin-top: -20px;
}

.puzzle2__planets {
  width: 70%;
  margin-right: auto !important;
  margin-left: auto !important;
}

.puzzle2__planets__planet {
  padding: 0 !important;
  margin: 15px !important;
  max-width: calc(16.666667% - 30px) !important;
}

.puzzle2__planets__moon {
  width: 50%;
  margin-left: 45px;
}

.puzzle2__buttons {
  width: 70%;
  margin-right: auto !important;
  margin-left: auto !important;
  padding: 0 !important;
}

.puzzle2__buttons__reset {
  width: 100%;
  border: none !important;
  background-color: #b75053 !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  padding: 10px;
}

.puzzle2__buttons__proceed {
  width: 100%;
  border: none !important;
  background-color: #388861 !important;
  font-size: 14px !important;
  font-weight: 800 !important;
  padding: 10px;
}

.puzzle2__correctText {
  color: #388861;
  font-weight: 800;
}

.puzzle2__almostCorrectText {
  color: #5341ae;
  font-weight: 800;
}

.puzzle2__incorrectText {
  color: #b75053;
  font-weight: 800;
}

@media only screen and (max-width: 1900px) {
  .p-wanderingmoon {
    width: 1550px !important;
  }

  .puzzle2__planets__moon {
    margin-left: 35px;
  }
}

@media only screen and (max-width: 1700px) {
  .p-wanderingmoon {
    width: 1400px !important;
  }
  .puzzle2__heading {
    font-size: 30px;
  }

  .puzzle2__figure {
    width: 200px;
    margin-top: 30px;
  }

  .puzzle2__whiteText {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1480px) {
  .p-wanderingmoon {
    width: 1200px !important;
  }

  .puzzle2__heading {
    font-size: 25px;
  }

  .puzzle2__figure {
    width: 180px;
  }

  .puzzle2__whiteText {
    font-size: 11px;
  }
}

@media only screen and (max-width: 1350px) {
  .p-wanderingmoon {
    width: 800px !important;
  }

  .puzzle1Heading {
    font-size: 20px;
  }

  .puzzle1__figure {
    width: 150px;
  }

  .puzzle1WhiteText {
    font-size: 10px;
  }
}
