.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.p-wanderingmoon {
  margin: 0 auto;
  width: 60%;
}

.puzzle2__detailsAndImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.puzzle2__details {
  padding: 10px;
  width: 55%;
  height: 350px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
}

.puzzle2__heading {
  margin-top: 40px;
  color: #5341ae;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 0;
}

.puzzle2__whiteText {
  text-align: left;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
}

.puzzle2__figure {
  width: 30%;
}

.puzzle2__figure__armsOut {
  width: 100%;
}

.puzzle2__video {
  display: flex;
  justify-content: center;
}

iframe {
  border: none;
  margin-top: 50px;
}

.p-wanderingmoon ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-top: 25px;
}

.p-wanderingmoon ul li {
  max-width: 15%;
}

.puzzle2__text {
  width: 60%;
}

.puzzle2__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.puzzle2__buttons__reset {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #b75053;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  height: 35px;
  margin-top: 5px;
}

.puzzle2__buttons__reset:hover {
  background-color: #8a2c2f;
  color: #ffffff;
  text-decoration: none;
}

.puzzle2__buttons__checkAnswers {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #388861;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  height: 35px;
  margin-left: 35px;
  margin-top: 5px;
  text-decoration: none;
}

.puzzle2__buttons__checkAnswers:hover {
  background-color: #1f5c3e;
  color: #ffffff;
  text-decoration: none;
}

.puzzle2__buttons__proceed {
  width: 15%;
  border: none;
  border-radius: 6px;
  background-color: #388861;
  color: #ffffff;
  font-size: 14px;
  font-weight: 800;
  text-align: center;
  height: 35px;
  margin-left: 35px;
  margin-top: 5px;
  text-decoration: none;
  line-height: 35px;
}

.puzzle2__buttons__proceed:hover {
  background-color: #1f5c3e;
  color: #ffffff;
  text-decoration: none;
}

.puzzle2__almostCorrectText {
  color: #5341ae;
  font-weight: 800;
  margin-right: auto;
}

.puzzle2__incorrectText {
  color: #b75053;
  font-weight: 800;
  margin-right: auto;
}

.puzzle2__correctText {
  color: #388861;
  font-weight: 800;
  margin-right: auto;
}
