.puzzle3__warps__figure {
  width: 100%;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
}

.puzzle3__warps__figure img {
  width: 100%;
}

.puzzle3__launch__figure {
  width: 100%;
  margin-left: 30px;
  margin-top: 0;
}

.puzzle3__launch__figure img {
  width: auto;
  height: 185px;
}
