.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -100;
}

.failure {
  text-align: center;
  margin-top: 200px;
}

.failure__video {
  width: 100%;
}

.failure__button {
  display: flex;
  justify-content: center;
}

.failure__credits {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
  border: none;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  width: 420px;
  text-decoration: none;
  background-color: #b75053;
}

.failure__credits:hover {
  background-color: #6d1919;
  color: #ffffff;
  text-decoration: none;
}
