.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
}

.puzzle2__figure__mask {
  width: 30%;
  margin: 150px auto auto auto;
}

.puzzle2__figure__mask__img {
  width: 100%;
}

.puzzle2__opener__button {
  display: flex;
  justify-content: center;
}

.puzzle2__wakeUp {
  margin: 0 auto;
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  font-weight: 800;
  border: none;
  border-radius: 15px;
  margin-top: 50px;
  padding: 20px;
  width: 420px;
  text-decoration: none;
  background-color: #5341ae;
}

.puzzle2__wakeUp:hover {
  background-color: #271c5a;
  color: #ffffff;
  text-decoration: none;
}
