@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;800&display=swap");

.App {
  text-align: center;
}

body {
  font-family: "Gothic A1", sans-serif;
  margin: 0;
}

input {
  font: 400 13.3333px "Gothic A1";
}
