.figureLogo {
    width: 400px;
    margin-top: 70px;
    margin: 0 auto;
}

.figureLogo__logo {
    width:100%;
}

.figureMessage {
    width: 1000px;
    margin: 0 auto;
}

.figureMessage__message {
    width: 100%;
}

.welcomeText {
    margin-top: -20px;
    text-align: center;
    color: #FF7D25;
    font-size: 40px;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
}

.description {
    margin: 0 auto;
    width: 40%;
    text-align: center;
    letter-spacing: 0px;
    color: #292B50;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 500;
}

.launch {
    width: 200px;
    margin: 0 auto;
}

.launchButton {
    width: 100%; 
    border-radius: 15px;
}


