.homepage {
  margin: 0 auto;
  width: 80%;
}

.figureLogo {
  width: 550px;
  margin-top: 70px;
  margin: 0 auto;
}

.figureLogo__logo {
  width: 100%;
}

.figureMessage {
  width: 1500px;
}

.figureMessage__message {
  width: 100%;
}

.welcomeText {
  text-align: center;
  color: #ff7d25;
  font-size: 60px;
  font-weight: 700;
}

.description {
  margin-bottom: 50px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  letter-spacing: 0px;
  color: #292b50;
  font-weight: 500;
  font-size: 20px;
}

.launch {
  display: flex;
  justify-content: center;
}

.launchButton {
  width: 420px;
  border: none;
  border-radius: 6px;
  text-decoration: none;
  background-color: #388861;
  color: #ffffff;
  font-size: 30px;
  font-weight: 800;
  padding: 20px;
  text-align: center;
  margin-top: 5px;
}

.launchButton:hover {
  background-color: #1f5c3e;
  color: #ffffff;
  text-decoration: none;
}
